<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign in & Sign Up Form</title>
  <link rel="stylesheet" href="./login.css">
</head>

<body>
  <section id="bg">
    <div class="container">
      <div class="user signinBx">
        <div class="imgBx"><img src="https://i.ibb.co/rZhhB7c/Personal-goals-pana.png" alt="" /></div>
        <div class="formBx">
          <form action="/login" method="post">
            <h2>Sign In</h2>
            <input type="email" name="email" placeholder="Email" n />
            <input type="password" name="password" placeholder="Password" n />
            <input type="submit" name="" value="Login" n />
            <p class="signup" style="color:white;">
              Don't have an account ?
              <a href="#" onclick="toggleForm();">Sign Up.</a>
            </p>
            <p class="signup" style="color:red;">
              <%=msg%>
              
            </p>
          </form>
        </div>
      </div>
      <div class="user signupBx">
        <div class="formBx">
          <form action="/register" method="post">
            <h2>Create an account</h2>
            <input type="text" name="name" placeholder="Name" n />
            <input type="email" name="email" placeholder="Email" n />
            <input type="password" name="password" placeholder="Password" n />
            <input type="submit" name="" value="Sign Up" />
            <p class="signup"  style="color:white;">
              Already have an account ?
              <a href="#" onclick="toggleForm();">Sign in.</a>
            </p>
            <p class="signup" style="color:red;">
              <%=msg%>
              
            </p>
          </form>
        </div>
        <div class="imgBx"><img src="https://i.ibb.co/grLGdpQ/Personal-goals-bro.png" alt="" /></div>
      </div>
    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.trunk.min.js"></script>

  <script>
    VANTA.TRUNK({
      el: "#bg",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.00,
      minWidth: 200.00,
      scale: 1.00,
      scaleMobile: 1.00,
      color: 0x9ff00,
      spacing: 3,
      backgroundColor: 0x1b1822,
    })

    const toggleForm = () => {
      const container = document.querySelector('.container');
      container.classList.toggle('active');
    };
  </script>

  <script src="./script.js"></script>

</body>

</html>