<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>PORTFOLIO-GPT LANDING PAGE</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&amp;display=swap'><link rel="stylesheet" href="/landing.css">
  
</head>
<body>
<!-- partial:index.partial.html -->
<div class="hero">
  <div class="hero__bg">
    <picture>
      <img src="https://ik.imagekit.io/ixrqhu9ns/f6ecf19a-9509-4c60-a995-89bae655f30c.jpeg?updatedAt=1707936179174">
    </picture>
  </div>

  <div class="hero__cnt">
<!-- <svg class="svg-snoweb svg-theme-light" height="500" preserveaspectratio="xMidYMid meet" viewbox="0 0 100 100" width="500" x="0" xmlns="http://www.w3.org/2000/svg" y="0">
 <path class="svg-stroke-primary" d="M66.1,17.9V66.1L50,58,33.9,66.1V17.9m-8,64.2H74.1a8,8,0,0,0,8-8V25.9a8,8,0,0,0-8-8H25.9a8,8,0,0,0-8,8V74.1A8,8,0,0,0,25.9,82.1Z" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="8">
 </path>
</svg> -->
    <h1>Portfolio-GPT</h1>
<a href="/numbers"><button >
  <span>Make your portfolio now</span>
  <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
    <path d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"/>
  </svg>
</button></a>
</div>
<a href="/signout">
    <div class="signout-btn" onclick="signOut()" style="text-decoration: none;">
    <span style="text-decoration: none;">Sign Out</span>
</div>
</a>
</div>
<!-- partial -->
  
</body>
</html>
