<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>PORTFOLIO FORM</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="./newForm.css">
</head>

<body>
  <div class="container">
    <div class="text">
      PORTFOLIO FORM
    </div>
    <form action="/numbers" method="post">
      

     

      <!-- No. of Certificate Section -->
      <div class="form-row">
        <div class="input-data">
          <input type="number" name="certificates" required>
          <div class="underline"></div>
          <label for="">No. of Certificates</label>
        </div>
      </div>

      <!-- No. of Skills Section -->
      <div class="form-row">
        <div class="input-data">
          <input type="number" name="skills" required>
          <div class="underline"></div>
          <label for="">No. of Skills</label>
        </div>
      </div>

      <!-- No. of Projects Section -->
      <div class="form-row">
        <div class="input-data">
          <input type="number" name="projects" required>
          <div class="underline"></div>
          <label for="">No. of Projects</label>
        </div>
      </div>

      <!-- No. of Work Role Section -->
      <div class="form-row">
        <div class="input-data">
          <input type="number" name="workroles" required>
          <div class="underline"></div>
          <label for="">No. of Work Roles</label>
        </div>
      </div>

      
      <div class="form-row submit-btn">
        <div class="input-data">
          <input type="submit" value="Submit">
        </div>
      </div>
    </form>
  </div>
</body>

</html>
